name: Generate Sitemap

on:
  push:
    branches:
      - main     # sitemap output is in main folder but change to gh-pages if needed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url: "https://xn--jk-1ia.com"

      - name: Commit sitemap.xml
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update sitemap"
          file_pattern: "sitemap.xml"
